

<div id="rev_slider_88_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="beach" data-source="gallery" style="margin:0px auto;background:#23cfdb;padding:0px;margin-top:0px;margin-bottom:0px;">

	<div id="rev_slider_88_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
<ul>
  {% if section.settings.show_slider_1 %}  
  <li  class="rs-267" data-index="rs-267" data-transition="zoomin" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb="{{ section.settings.slide_1_image | img_url: "thumb" }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
    <img src="{{ section.settings.slide_1_image | img_url: "master" }}"  alt="{{ section.settings.slide_1_title }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
    {% if section.settings.slide_1_title != blank %}
    <!-- LAYER NR. 1 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-267-layer-1" 
         data-x="center" data-hoffset="" 
         data-y="bottom" data-voffset="38" 
         data-width="['auto']"
         data-height="['auto']"
         data-type="text" 
         data-responsive_offset="on" 
         data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Sine.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[15,15,15,15]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 5; white-space: nowrap; font-size: 145px; line-height: 160px; font-weight: 400; color:{{ section.settings.slider_1_title_clr }}; letter-spacing: 0px;">{{ section.settings.slide_1_title }} </div>
    {% endif %}

    {% if section.settings.slide_1_subtitle != blank %}
    <!-- LAYER NR. 2 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-267-layer-2" 
         data-x="center" data-hoffset="" 
         data-y="608" 
         data-width="['auto']"
         data-height="['auto']"

         data-type="text" 
         data-responsive_offset="on" 

         data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Sine.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: {{ section.settings.slider_1_sub_title_clr }}; letter-spacing: 0px;text-transform:uppercase;">{{ section.settings.slide_1_subtitle }}
    </div>
    {% endif %}
  </li>
  {% endif %}
  
  {% if section.settings.show_slider_2 %}  
  <li class="rs-268" data-index="rs-268" data-transition="zoomin" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb="{{ section.settings.slide_1_image | img_url: "thumb" }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    <!-- MAIN IMAGE -->
    <img src="{{ section.settings.slide_2_image | img_url: "master" }}"  alt="{{ section.settings.slide_2_title }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->
    {% if section.settings.slide_2_title != blank %}
    <!-- LAYER NR. 3 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-268-layer-1" 
         data-x="center" data-hoffset="-345" 
         data-y="403" 
         data-width="['auto']"
         data-height="['auto']"
         data-type="text" 
         data-responsive_offset="on" 
         data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 5; white-space: nowrap; font-size: 45px; line-height: 45px; font-weight: 700; color: {{ section.settings.slider_2_title_clr }}; letter-spacing: 0px;">{{ section.settings.slide_2_title }} </div>{% endif %}
    {% if section.settings.slide_2_text != blank %}
    <!-- LAYER NR. 4 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-268-layer-2" 
         data-x="center" data-hoffset="-344" 
         data-y="512" 
         data-width="['328']"
         data-height="['auto']"

         data-type="text" 
         data-responsive_offset="on" 

         data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['center','center','center','center']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 6; min-width: 328px; max-width: 328px; white-space: normal; font-size: 16px; line-height: 24px; font-weight: 400; color:{{ section.settings.slider_2_text_clr }}; letter-spacing: 0px;">{{ section.settings.slide_2_text }} </div>{% endif %}

    {% if section.settings.slide_2_subtitle != blank %}
    <!-- LAYER NR. 5 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-268-layer-3" 
         data-x="center" data-hoffset="-345" 
         data-y="446" 
         data-width="['auto']"
         data-height="['auto']"

         data-type="text" 
         data-responsive_offset="on" 

         data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 7; white-space: nowrap; font-size: 25px; line-height: 45px; font-weight: 400; color: {{ section.settings.slider_2_sub_title_clr }}; letter-spacing: 0px;">{{ section.settings.slide_2_subtitle }} </div>{% endif %}
    {% if section.settings.slide_2_link != blank %}
    <!-- LAYER NR. 6 -->
    <a class="tp-caption rev-btn " 
         href="{{ section.settings.slide_2_link }}" target="_self" 
         id="slide-268-layer-7" 
         data-x="center" data-hoffset="-345" 
         data-y="595" 
         data-width="['auto']"
         data-height="['auto']"

         data-type="button" 
         data-responsive_offset="on" 
		 data-actions=''
         data-frames='[{"delay":4000,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"1000","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[18,18,18,18]"
         data-paddingright="[35,35,35,35]"
         data-paddingbottom="[18,18,18,18]"
         data-paddingleft="[35,35,35,35]"
         style="z-index: 8; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: {{ section.settings.slider_2_button_txt }}; letter-spacing: px;background-color:{{ section.settings.slider_2_button_bg }};cursor:pointer;">{{ section.settings.slide_2_button }} <i class="fa fa-long-arrow-right"></i> </a>
    {% endif %}
    {% if section.settings.slide_2_txt_image != blank %}
    <!-- LAYER NR. 7 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-268-layer-8" 
         data-x="center" data-hoffset="-345" 
         data-y="252" 
         data-width="['none','none','none','none']"
         data-height="['none','none','none','none']"

         data-type="image" 
         data-responsive_offset="on" 

         data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 9;"><img src="{{ section.settings.slide_2_txt_image | img_url: "master" }}" alt="{{ section.settings.slide_2_title }}" data-ww="428px" data-hh="64px" width="428" height="64" data-no-retina> </div>
    {% endif %}
     {% if section.settings.slide_2_txt_2_image != blank %}
    <!-- LAYER NR. 7 -->
    <!-- LAYER NR. 8 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-268-layer-9" 
         data-x="center" data-hoffset="-345" 
         data-y="327" 
         data-width="['none','none','none','none']"
         data-height="['none','none','none','none']"

         data-type="image" 
         data-responsive_offset="on" 

         data-frames='[{"delay":600,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"

         style="z-index: 10;"><img src="{{ section.settings.slide_2_txt_2_image | img_url: "master" }}" alt="{{ section.settings.slide_2_title }}" data-ww="368px" data-hh="51px" width="368" height="51" data-no-retina> </div>
 
    {% endif %}
  </li>
  {% endif %}

  {% if section.settings.show_slider_3 %}
  <li class="rs-269" data-index="rs-269" data-transition="zoomin" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="Power4.easeOut" data-masterspeed="default"  data-thumb="{{ section.settings.slide_3_image | img_url: "thumb" }}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
    {% if section.settings.slide_3_image != blank %}	
    <!-- MAIN IMAGE -->
    <img src="{{ section.settings.slide_3_image | img_url: "master" }}"  alt="{{ section.settings.slide_3_part_1 }}"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
    {% endif %}	
    <!-- LAYERS -->
    {% if section.settings.slide_3_part_1 != blank %}
    <!-- LAYER NR. 9 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-269-layer-1" 
         data-x="center" data-hoffset="" 
         data-y="610" 
         data-width="['auto']"
         data-height="['auto']"
         data-type="text" 
         data-responsive_offset="on" 
         data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"
         style="z-index: 5; white-space: nowrap; font-size: 50px; line-height: 55px; font-weight: 700; color:{{ section.settings.slider_3_title_clr_1 }}; letter-spacing: 0px;"> {% if section.settings.slide_3_part_1 != blank %}{{ section.settings.slide_3_part_1 }} {% endif %}<span style="color:{{ section.settings.slide_3_title_alternate_clr }};">{% if section.settings.slide_3_part_2 != blank %}{{ section.settings.slide_3_part_2 }}{% endif %}</span>{% if section.settings.slide_3_part_3 != blank %} {{ section.settings.slide_3_part_3 }}{% endif %} <span style="color:{{ section.settings.slide_3_title_alternate_clr }};">{% if section.settings.slide_3_part_4 != blank %} {{ section.settings.slide_3_part_4 }}{% endif %}</span> {% if section.settings.slide_3_part_5 != blank %} {{ section.settings.slide_3_part_5 }}{% endif %} </div>
    {% endif %}

    {% if section.settings.slide_3_subtitle != blank %}
    <!-- LAYER NR. 10 -->
    <div class="tp-caption   tp-resizeme" 
         id="slide-269-layer-2" 
         data-x="center" data-hoffset="" 
         data-y="682" 
         data-width="['auto']"
         data-height="['auto']"

         data-type="text" 
         data-responsive_offset="on" 

         data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
         data-textAlign="['center','center','center','center']"
         data-paddingtop="[0,0,0,0]"
         data-paddingright="[0,0,0,0]"
         data-paddingbottom="[0,0,0,0]"
         data-paddingleft="[0,0,0,0]"
         style="z-index: 6; white-space: nowrap; font-size: 16px; line-height: 16px; font-weight: 400; color: {{ section.settings.slider_3_sub_title_clr }}; letter-spacing: 0px;">{{ section.settings.slide_3_subtitle }}</div>
    {% endif %}

    {% if section.settings.slide_3_link != blank %}
    <!-- LAYER NR. 11 -->
    <a class="tp-caption rev-btn " 
         href="{{ section.settings.slide_3_link }}" target="_self" 
         id="slide-269-layer-7" 
         data-x="center" data-hoffset="" 
         data-y="726" 
         data-width="['auto']"
         data-height="['auto']"

         data-type="button" 
         data-responsive_offset="on" 
         data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"1000","ease":"Power4.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:rgb(0,0,0);"}]'
         data-textAlign="['inherit','inherit','inherit','inherit']"
         data-paddingtop="[18,18,18,18]"
         data-paddingright="[35,35,35,35]"
         data-paddingbottom="[18,18,18,18]"
         data-paddingleft="[35,35,35,35]"
         style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 500; color: {{ section.settings.slider_3_button_txt }}; letter-spacing: px;background-color:{{ section.settings.slider_3_button_bg }};cursor:pointer;">{{ section.settings.slide_3_button }} <i class="fa fa-long-arrow-right"></i> </a>
   {% endif %}
  </li>
  {% endif %}
      </ul>
<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
</div><!-- END REVOLUTION SLIDER -->

<script type="text/javascript">
						var tpj=jQuery;
			
			var revapi88;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_88_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_88_1");
				}else{
					revapi88 = tpj("#rev_slider_88_1").show().revolution({
						sliderType:"standard", 						
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:9000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							arrows: {
								style:"uranus",
								enable:true,
								hide_onmobile:false,
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:500,
								tmp:'',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:20,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:20,
									v_offset:0
								}
							}
						},
						visibilityLevels:[1240,1024,778,480],
						gridwidth:1700,
						gridheight:860,
						lazyType:"none",
						shadow:0,
						spinner:"spinner3",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						disableProgressBar:"on",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						}
					});
				}
			});	/*ready*/
		</script>


<style type="text/css">
  .rs-268 .rev-btn:hover {background:{{ section.settings.slider_2_button_hover_bg}} !important;color: {{ section.settings.slider_2_button_hover_txt }} !important;}
  .rs-269 .rev-btn:hover {background:{{ section.settings.slider_3_button_hover_bg}} !important;color: {{ section.settings.slider_3_button_hover_txt }} !important; }
</style>

{% schema %}
{
	"name": "Revolution slider",	
	"class": "index-section",
	"settings": [
				
				{
					"type": "checkbox",
					"id": "show_slider_1",
					"default": true,
					"label": "Show slide 1"
				},
				
				{
					"type": "image_picker",
					"id": "slide_1_image",					
					"label": "Image",
					"info": "Size: 1700x860"
				},
				{
					"type": "text",
					"id": "slide_1_title",					
					"label": "Heading"
				},
                {
                "type": "color",
                "id": "slider_1_title_clr",
                "label": "Slider 1 Title",
                "default": "#0fb8a6"
                },

                {
                "type": "text",
                "id": "slide_1_subtitle",
                "default": "Sub heading",
                "label": "Sub heading"
                },
                {
                "type": "color",
                "id": "slider_1_sub_title_clr",
                "label": "Slider 1 Sub Title",
                "default": "#000000"
                },
				
				{
					"type": "checkbox",
					"id": "show_slider_2",
					"default": true,
					"label": "Show slide 2"
				},
				
				{
					"type": "image_picker",
					"id": "slide_2_image",					
					"label": "Image",
					"info": "Size: 1700x860"
				},
				{
					"type": "image_picker",
					"id": "slide_2_txt_image",					
					"label": "Text Image 1",
					"info": "Size: 428x64"
				},
				{
					"type": "image_picker",
					"id": "slide_2_txt_2_image",					
					"label": "Text Image 2",
					"info": "Size: 368x51"
				},
				{
					"type": "text",
					"id": "slide_2_title",					
					"label": "Heading"

				},
          {
                  "type": "color",
                  "id": "slider_2_title_clr",
                  "label": "Slider 2 Title",
                  "default": "#3a3a3a"
                },
				{
					"type": "text",
					"id": "slide_2_subtitle",
					"default": "Sub heading",
					"label": "Sub heading"
				},
           {
                  "type": "color",
                  "id": "slider_2_sub_title_clr",
                  "label": "Slider 2 Sub Title",
                  "default": "#3a3a3a"
                },
				{
					"type": "textarea",
					"id": "slide_2_text",
					"default": "Description",
					"label": "Description"
				},
             {
                    "type": "color",
                    "id": "slider_2_text_clr",
                    "label": "Slider 2 Description",
                    "default": "#3a3a3a"
                  },
				{
					"type": "text",
					"id": "slide_2_button",
					"default": "View Collection",
					"label": "Link Text"
				},
             {
                    "type": "color",
                    "id": "slider_2_button_bg",
                    "label": "Slider 2 Button Bg",
                    "default": "#3a3a3a"
                  },
			{
                    "type": "color",
                    "id": "slider_2_button_txt",
                    "label": "Slider 2 Button Text",
                    "default": "#3a3a3a"
                  },
			{
                    "type": "color",
                    "id": "slider_2_button_hover_bg",
                    "label": "Slider 2 Button Hover Bg",
                    "default": "#3a3a3a"
                  },
			  {
                    "type": "color",
                    "id": "slider_2_button_hover_txt",
                    "label": "Slider 2 Button Hover Text",
                    "default": "#3a3a3a"
                  },
				{
					"type": "text",
					"id": "slide_2_link",
					"default": "#",
					"label": "Link"
				},
				{
					"type": "checkbox",
					"id": "show_slider_3",
					"default": true,
					"label": "Show slide 3"
				},				
				{
					"type": "image_picker",
					"id": "slide_3_image",					
					"label": "Image",
					"info": "Size: 1700x860"
				},			   
					{
                    "type": "color",
                    "id": "slider_3_title_clr_1",
                    "label": "Slider 3 Title Color 1",
                    "default": "#3a3a3a"
                  },
				{
					"type": "color",
					"id": "slide_3_title_alternate_clr",					
					"label": "Slider 3 Title Color 2",
					"default":"#fff"
				},

				{
					"type": "text",
					"id": "slide_3_part_1",					
					"label": "Heading Part 1"
				},
                {
					"type": "text",
					"id": "slide_3_part_2",					
					"label": "Heading Part 2"
				},
                 {
					"type": "text",
					"id": "slide_3_part_3",					
					"label": "Heading Part 3"
				},
 				{
					"type": "text",
					"id": "slide_3_part_4",					
					"label": "Heading Part 4"
				},
				{
					"type": "text",
					"id": "slide_3_part_5",					
					"label": "Heading Part 5"
				},
				
                
				{
					"type": "text",
					"id": "slide_3_subtitle",
					"default": "Sub heading",
					"label": "Sub heading"
				},
				{
                    "type": "color",
                    "id": "slide_3_sub_title_clr",
                    "label": "Slider 3 Sub Heading",
                    "default": "#3a3a3a"
                  },
				{
					"type": "text",
					"id": "slide_3_button",
					"default": "View Collection",
					"label": "Link Text"
				},		
 				{
                    "type": "color",
                    "id": "slider_3_button_bg",
                    "label": "Slider 3 Button Bg",
                    "default": "#3a3a3a"
                  },
			  {
                    "type": "color",
                    "id": "slider_3_button_txt",
                    "label": "Slider 3 Button Text",
                    "default": "#3a3a3a"
                  },
				{
                    "type": "color",
                    "id": "slider_3_button_hover_bg",
                    "label": "Slider 3 Button Hover Bg",
                    "default": "#3a3a3a"
                  },
			  {
                    "type": "color",
                    "id": "slider_3_button_hover_txt",
                    "label": "Slider 3 Button Hover Text",
                    "default": "#3a3a3a"
                  },
				{
					"type": "text",
					"id": "slide_3_link",
					"default": "#",
					"label": "Link"
				}
				
				
			]

} 

{% endschema %}